<!-- knights_tour.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Knight's Tour Result</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  </head>
  <body class="bg-slate-900 flex items-center justify-center h-screen">
    <div class="flex flex-col h-[50vh] items-center justify-center transition-bg fixed z-50 w-full -top-40">
        <div class="absolute inset-0 overflow-hidden">
            <div class="jumbo absolute -inset-[10px] opacity-30"></div>
        </div>  
    </div>

    <div>
        <div
        class="border border-gray-200 rounded-lg shadow bg-gray-800 border-gray-700 px-7 py-5 w-[26rem] rounded-xl mb-4"
      >
        <h1 class="text-xl text-slate-300 text-center mb-3 font-bold">Knigts Tour Result</h1>
        <div class="flex items-center justify-center">
          <div id="gallery" class="relative w-[330px]" data-carousel="slide">
            <div class="relative overflow-hidden rounded-lg h-[410px]">
              {% for step in result %}
              {% set i = 0 %}
              <div class="hidden duration-700" data-carousel-item>
                <div
                  class="flex items-center justify-center content-center bg-gray-400 rounded-lg"
                >
                  <table
                    class="w-40 text-sm text-left rtl:text-right text-blue-100 border border-4 border-gray-400 rounded-lg overflow-hidden"
                  >
                    <tbody>
                      {% for row in step %}
                      {% set is_even_row = loop.index is even %}
                      <tr>
                        {% for cell in row %}
                          {% set bg_color = '' %}
                          {% if cell == 1 %} 
                              {% set bg_color = 'bg-blue-700' %} 
                          {% elif cell == 2 %} 
                              {% set bg_color = 'bg-green-500' %} 
                          {% elif cell == 3 %} 
                              {% set bg_color = 'bg-purple-500' %} 
                          {% elif cell == 4 %} 
                              {% set bg_color = 'bg-orange-500' %} 
                          {% else %} 
                              {% set is_even_col = loop.index is even %} 
                              {% if is_even_row %}
                                  {% if is_even_col %} 
                                      {% set bg_color = 'bg-slate-800' %}
                                  {% else %} 
                                      {% set bg_color = 'bg-slate-700' %} 
                                  {% endif %}
                              {% else %} 
                                  {% if is_even_col %} 
                                      {% set bg_color = 'bg-slate-700' %} 
                                  {% else %} 
                                      {% set bg_color = 'bg-slate-800' %} 
                                  {% endif %} 
                              {% endif %} 
                          {% endif %}

                          {% if cell == 2 or cell == 4 %}
                                  <td
                                  class="p-1 text-center border border-gray-400 {{ bg_color }} text-white/0"
                              >
                                      <svg width="30px" height="30px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">id=&quot;defs4976&quot; /&gt;<path fill="#083619" d="M60.81 476.91h300v-60h-300v60zm233.79-347.3l13.94 7.39c31.88-43.62 61.34-31.85 61.34-31.85l-21.62 53 35.64 19 2.87 33 64.42 108.75-43.55 29.37s-26.82-36.39-39.65-43.66c-10.66-6-41.22-10.25-56.17-12l-67.54-76.91-12 10.56 37.15 42.31c-.13.18-.25.37-.38.57-35.78 58.17 23 105.69 68.49 131.78H84.14C93 85 294.6 129.61 294.6 129.61z"/></svg>
                                  </td>
                          {% else %}
                                  <td
                                  class="px-4 py-3 text-center border border-gray-400 {{ bg_color }} text-white/0"
                              >
                                      {{ cell }}
                                  </td>
                          {% endif %}
                          </td>
                        {% endfor %}
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                  <span class="inline-flex items-center px-3 py-1 rounded-full text-sm font-medium bg-blue-500 text-white mt-3">Step {{ loop.index }}</span>
              </div>
              {% endfor %}
            </div>
            <button
              type="button"
              class="absolute top-0 end-0 z-30 flex items-end justify-end pr-14 h-full cursor-pointer group focus:outline-none"
              data-carousel-prev
            >
              <span
                class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none"
              >
                <svg
                  class="w-4 h-4 text-white rtl:rotate-180"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 6 10"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 1 1 5l4 4"
                  />
                </svg>
                <span class="sr-only">Previous</span>
              </span>
            </button>
            <button
              type="button"
              class="absolute top-0 end-0 z-30 flex items-end justify-end pr-2 h-full cursor-pointer group focus:outline-none"
              data-carousel-next
            >
              <span
                class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none"
              >
                <svg
                  class="w-4 h-4 text-white rtl:rotate-180"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 6 10"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 9 4-4-4-4"
                  />
                </svg>
                <span class="sr-only">Next</span>
              </span>
            </button>
          </div>
        </div>
      </div>
      <div class="flex gap-4">
        <a href="/" class="block w-full text-center items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Back to Homepage
        </a>
        <button data-modal-target="default-modal" data-modal-toggle="default-modal"  href="/" class="block w-full text-center items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Summary Board
        </button>
        <div id="default-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
          <div class="relative p-4">
              <!-- Modal content -->
              <div class="relative bg-white rounded-2xl shadow dark:bg-gray-900 border border-gray-200 dark:border-gray-700 border-4">
                  <!-- Modal header -->
                  <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                        Board Summary
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                  </div>
                  <!-- Modal body -->
                  <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                      <table class="text-sm text-left rtl:text-right text-blue-100 rounded-xl overflow-hidden">
                        <tbody>
                          {% for row in range(8) %}
                          <tr>
                            {% for col in range(8) %}
                            {% set index = col*8 + row %}
                            {% set value = summary_board[index] %}
                            {% set bg_color = 'slate-800' if (row + col) % 2 == 0 else 'slate-700' %}
                            {% if value == 1 %} {% set bg_color = 'violet-500' %} {% endif %}
                            {% if value == 64 %} {% set bg_color = 'orange-500' %} {% endif %}
                            <td>
                              <div class="p-3 w-11 h-11 text-center bg-{{ bg_color }} text-white">
                                {{ value }}
                              </div>
                            </td>
                            {% endfor %}
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div
    class="border border-gray-200 rounded-lg shadow bg-gray-800 border-gray-700 w-[24rem] h-[34rem] rounded-xl overflow-auto ml-4"
  >
      <div
        class="absolute z-0 rounded-lg bg-gray-800 w-80 h-[6rem] overflow-auto"
      >
      </div>
      <h1 class="sticky top-4 z-10 text-xl text-slate-300 text-center mb-3 font-bold ">Summary Step  
      {% if tour_type == '0' %}
      <span class="inline-flex px-3 py-1 text-left rounded-full text-sm font-medium bg-blue-500 text-white ml-2">Open Tour</span>
      {% else %}
      <span class="inline-flex px-3 py-1 text-left rounded-full text-sm font-medium bg-blue-500 text-white ml-2">Closed Tour</span>
      {% endif %}
      </h1>
      <table class="ml-8 w-[20rem]">
        <thead class="">
          <tr>
            <th class="sticky top-16 pb-6 text-slate-300 text-left">Iteration</th>
            <th class="sticky top-16 pb-6 text-slate-300 text-left">Coordinates</th>
          </tr>
        </thead>
        <tbody>
          {% for step in summary %}
          <tr>
            <td class="py-1">
              <span class="inline-flex px-3 py-1 text-left rounded-full text-sm font-medium bg-blue-500 text-white mt-3">Step {{ loop.index }}</span>
            </td>
            <td class="py-1">
              <div class="flex">
                <div class="">
                  <div class="text-lg text-left font-bold text-slate-400">
                    {{ step }}
                  </div>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
